.center { float: none; margin-left: auto; margin-right: auto; display:block; }

.content-container { 
margin:20px;

}

.noUi-origin {
  background-color: white;
}
.noUi-base {
  background-color:  #9AD9EA;
}
#minutes {
  text-align: center;
  font-size: 25px;
  font-weight: bold;
  color: rgb(95,192,218);
}

 #input-number {
  text-align: center;
margin:auto;
display:block;
border:none;
margin-top: 15px;
font-weight: bold;
font-size: 25px;
color: rgb(95,192,218);
}
.camera {
  max-width: 500px;
  margin:auto;
}
section.video {
  margin:auto;
  max-width: 500px;
  padding:0 ;
  min-height: 100vh;
  margin-bottom: 0;
  margin-top: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: -1;
}
#capture-preview {
  max-width: 300px;
  margin: auto;
  text-align: center;
}
#sendPhoto {
  margin-top: -1%;
}

.cameraOptionButtons {
  max-width: 500px;
  line-height: 30px;
}
#camera-icon {
  max-width: 47px;
  width:60%;
}
#cancelPhoto {
  margin-bottom: -7%;
  margin-right: -55%;
  background-color: transparent;
  border: 1px solid white;
  color:white;
}
#cancelPhoto:hover {
  background-color: white;
  color:black;
}
#video {
  // position:absolute;
  z-index: -1;
}
#retakeButton { 

}

#startbutton {
  border-radius: 50%;
  width:100px;
  height:100px;
  margin-top: -5%;
  z-index: 1000;
}
// task
// show
 #photo {
  max-width: 300px;
  margin:auto;
  display:block;
}
#task-image, #photo {
  max-width: 300px;
  margin:auto;
  display:block;
}
@media screen and (max-width: 500px) {
  #minutes, #input-number {
    font-size: 20px;
    display:inline-block;
  }
  .btn-success {
    width: 100%;
  }
  #capture-preview {
    max-width: 200px;
    max-height: 400px;
  }
  #startbutton {
    margin-top: -15%;
    width:75px;
    height:75px;
}
}