.profile-challenges {
  margin:auto;

  vertical-align:top;
}
.profile-container {
}
.profile-header {
  width:100%;
  position:fixed;
  top:50;
  left:0;
  right:0;
  z-index: 1000;
  max-height: 300px;
  display:block;
  margin:auto;
  margin-top:-50px;
  margin-bottom: 100px;
  img {
  max-width: 100px;
  }
}

.task-post {
  border-radius: 5px;
  overflow:hidden;
  min-height: 189px;
  border:1px solid rgba(0,0,0,0.1);
  display:inline-block;
  min-width: 400px;
  margin:10px;
  max-width: 400px;
  vertical-align: top;
  float:left;
  background-color: white;
}
.single-post {
  margin:auto !important;
  float:none !important;
  display:block !important;
  max-width:400px;
  padding-bottom: 20px;
}
.feed-container {

  width:100%;
  height:100%;
  display:block;
  margin:auto;
  padding:30px;
  max-width: 900px;
}
.profile-padding {
  padding-top: 100px;
}
#username {
  font-weight: bold;
  font-size: 22px;
}
#headline {
  line-height:20px;
  font-weight: 200;
}
.profile-total-coins {
  img {
    width:30px;
  }
  span {
    font-size: 14px;
  }
}

@media screen and (max-width: 768px) { 
 .profile-total-coins {
  float: right;
 }
  .feed-container {
    padding:0;
  }

  .profile-padding {
    padding-top: 40px;
  }
  .task-post {
    max-width: 400px;
    width:100%;
    min-width: 200px;
    margin:4px;
    padding-bottom: 15px;
  }
  .profile-header { 
  top:30;  
  padding:5px;
    max-height: 60px;
    img {
    max-width: 50px;
    }
     }
  }