.listofTasks {
  margin-right:10px;
}
.card-bottom > .row {
  margin-right:0 !important;
  padding:10px;
  margin-left:0 !important;
}
.map-container {
  display:none;
} 
.task-show-page-container {
  max-width: 400px;
  margin:auto;
  padding:0px;
  border:1px solid rgba(0,0,0,0.1);
  border-radius: 5px;
}
.index-tasks-container {
  margin-left: 20px;
  margin-right: 20px;
}
.card-top,  {
  padding:10px;
}
.card-bottom {
  padding:30px;
}
#creator-name, #created_at, #tagged-member-name-head {
  line-height: 46px;
}

a#creator-name, a#tagged-member-name-head {
  padding-left:20px;
  display:inline;
  text-decoration: none;
  font-weight: bold;
}
.show-page-profile-img 
 {
  display:inline;
 }
#created_at, #location-name, #task-minutes, #tagged-member-name {
  display:inline;
  text-align: right;
  color:#333;
  font-weight: 500;
  opacity:0.6;
  text-decoration: none;
}
a.map-button span:hover {
  opacity:1;
  text-decoration: none !important;
  color:black;
}
span#location-name:hover, a.map-button:hover, #map-marker:hover, a#tagged-member-name:hover {
  color:black;
  opacity: 1 !important;
  text-decoration: none !important;
}
#badgee-coin {
  max-width:50px;
  padding-right:10px;
}
.badgee-coin-header {
  padding-right: 30px;
}
#map-marker, #clock-icon, #at-icon {
  width:35px;
  opacity: 0.3;
  display:inline;
  padding:5px;
}
#at-icon {
  width:30px;
}
#task-image, #photo {
  width: 430px;
  max-height: 430px;
  width:100%;
  margin:auto;
  display:block;
}


@media screen and (max-width: 550px) { 
  .index-tasks-container {
    margin-left: 0;
    margin-right: 0;
  }
  body {
    font-size:12px;
  }
  .profile-img {
    width:35px;
  }
  #tagged-member-name-head {
    font-size: 14px;
  }
    .task-show-page-container {
      border:none;
    }
  
  }