/* VENDOR */
/* CUSTOM */
@font-face {
  font-family: 'Nevis Bold';
  src: url("/fonts/nevis.eot");
  /* IE9 Compat Modes */
  src: url("/fonts/nevis.woff2") format("woff2"), url("/fonts/nevis-Bold.woff") format("woff"), url("/fonts/nevis.ttf") format("truetype"), url("/fonts/nevis-Bold.svg#nevis-Bold") format("svg");
  /* Legacy iOS */ }
input::-webkit-input-placeholder {
  /* WebKit browsers */
  color: rgba(102, 102, 102, 0.3); }

input:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: rgba(102, 102, 102, 0.3); }

input::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: rgba(102, 102, 102, 0.3); }

input:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: rgba(102, 102, 102, 0.3); }

.two {
  color: #fff;
  background-color: #6496c8;
  border: none;
  border-radius: 15px;
  box-shadow: 0 10px #27496d; }

.two:hover {
  background-color: #417cb8; }

.two:active {
  background-color: #417cb8;
  box-shadow: 0 5px #27496d;
  transform: translateY(5px); }

.teal {
  color: #fff;
  background-color: #5bc0de;
  border: none;
  border-radius: 15px;
  box-shadow: 0 10px #40859B; }

.teal:hover {
  background-color: #52ABC6; }

.teal:active {
  background-color: #417cb8;
  box-shadow: 0 5px #27496d;
  transform: translateY(5px); }

.red {
  color: #fff;
  background-color: #d9534f;
  border: none;
  border-radius: 15px;
  box-shadow: 0 10px #803331; }

.red:hover {
  background-color: #BA4A47; }

.red:active {
  background-color: #d9534f;
  box-shadow: 0 5px #27496d;
  transform: translateY(5px); }

.green {
  color: #fff;
  background-color: #5cb85c;
  border: none;
  border-radius: 15px;
  box-shadow: 0 10px #3F803F; }

.green:hover {
  background-color: #55A955; }

.green:active {
  background-color: #5cb85c;
  box-shadow: 0 5px #27496d;
  transform: translateY(5px); }

@media screen and (max-width: 500px) {
  #submitCompletion {
    display: block;
    width: 100%; } }
.badgee-the-badger {
  float: left;
  display: inline-block; }
  .badgee-the-badger img {
    max-width: 300px; }

.animations {
  -moz-animation-iteration-count: 2;
  -webkit-animation-iteration-count: 2; }

.mobile-landing-container {
  display: inline-block;
  float: right; }

.landing-header {
  margin-top: 100px;
  font-family: 'Nevis Bold';
  font-weight: 700;
  color: white; }

#login-email-form, #signup-form {
  margin: 20px; }

.landing-container {
  display: block;
  background-color: #73D5E5;
  max-width: 650px;
  margin: auto; }

.tagline {
  color: white;
  margin-top: 20px;
  font-size: 15px;
  font-family: 'Nevis Bold';
  text-align: center;
  font-weight: 100; }

#landing-header-image {
  max-width: 100px;
  display: inline-block; }

footer {
  color: white;
  text-align: center;
  padding: 20px;
  background-color: rgba(102, 102, 102, 0.5); }

a#login-with-facebook, a#login-with-email {
  margin: 20px; }

a#login-with-email:hover {
  background-color: #515050;
  -webkit-trasition: background-color 0.5s; }

.auth-links {
  color: #333;
  font-weight: bold;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  display: block; }

@media screen and (max-width: 600px) {
  .landing-container {
    width: 100%;
    height: 100%; }

  .mobile-landing-container {
    float: none;
    text-align: center;
    display: block;
    margin: auto; }

  .badgee-the-badger {
    display: none; }

  #login-button, #signup-button {
    width: 100%; } }
.camera {
  max-width: 500px;
  margin: auto; }

section.video {
  padding: 0;
  max-height: 100vh;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }

video {
  max-height: 100vh;
  max-width: 600px;
  z-index: 100; }

#capture-preview {
  max-width: 300px;
  margin: auto;
  text-align: center; }

#sendPhoto {
  margin-top: -1%; }

.cameraOptionButtons {
  max-width: 500px;
  line-height: 30px;
  margin-top: -100px;
  padding-bottom: 20px; }

#camera-icon {
  width: 100%;
  height: 100%;
  padding: 10px; }

#cancelPhoto {
  margin-bottom: -7%;
  margin-right: -55%;
  background-color: transparent;
  border: 1px solid white;
  color: white; }

#cancelPhoto:hover {
  background-color: white;
  color: black; }

#video {
  z-index: 100; }

@media screen and (max-width: 500px) {
  a#start-button {
    width: 50px !important;
    height: 50px !important;
    z-index: 1000; }

  #camera-icon {
    width: 100%;
    height: 100%;
    padding: 1px; } }
.center {
  float: none;
  margin-left: auto;
  margin-right: auto;
  display: block; }

body, html {
  height: 100% !important;
  min-height: 100% !important; }

body {
  padding-top: 80px;
  background-color: #F5F8FA; }

.white-container {
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: white;
  max-width: 900px;
  padding: 20px;
  overflow: hidden;
  margin: auto;
  border-radius: 2px; }

.fadedText {
  opacity: 0.7;
  font-weight: 200;
  color: #333;
  line-height: 30px; }

.content-container {
  height: 100% !important;
  margin: 10px; }

.profile-img {
  border-radius: 50%;
  width: 50px; }

.nav-container {
  background-color: #73D5E5; }

.container-fluid > .navbar-collapse, .container-fluid > .navbar-header, .container > .navbar-collapse, .container > .navbar-header {
  font-family: 'Nevis Bold';
  text-transform: uppercase;
  background-color: #73D5E5;
  color: white; }
  .container-fluid > .navbar-collapse .navbar-form .form-control, .container-fluid > .navbar-header .navbar-form .form-control, .container > .navbar-collapse .navbar-form .form-control, .container > .navbar-header .navbar-form .form-control {
    font-size: 14px;
    padding: 3px; }
  .container-fluid > .navbar-collapse .navbar-nav > li > a, .container-fluid > .navbar-header .navbar-nav > li > a, .container > .navbar-collapse .navbar-nav > li > a, .container > .navbar-header .navbar-nav > li > a {
    color: white;
    text-transform: uppercase;
    box-size: content-box;
    padding-left: 0;
    padding-right: 0; }
  .container-fluid > .navbar-collapse .navbar-nav > li, .container-fluid > .navbar-header .navbar-nav > li, .container > .navbar-collapse .navbar-nav > li, .container > .navbar-header .navbar-nav > li {
    padding-left: 10px;
    padding-right: 10px; }
  .container-fluid > .navbar-collapse .navbar-nav > li > a:hover, .container-fluid > .navbar-header .navbar-nav > li > a:hover, .container > .navbar-collapse .navbar-nav > li > a:hover, .container > .navbar-header .navbar-nav > li > a:hover {
    padding-bottom: 2px;
    border-bottom: 2px solid white;
    padding-left: 0;
    padding-right: 0; }
  .container-fluid > .navbar-collapse .navbar-toggle, .container-fluid > .navbar-header .navbar-toggle, .container > .navbar-collapse .navbar-toggle, .container > .navbar-header .navbar-toggle {
    border: 2px solid white; }
  .container-fluid > .navbar-collapse .navbar-toggle .icon-bar, .container-fluid > .navbar-header .navbar-toggle .icon-bar, .container > .navbar-collapse .navbar-toggle .icon-bar, .container > .navbar-header .navbar-toggle .icon-bar {
    background-color: white; }
  .container-fluid > .navbar-collapse .navbar-brand, .container-fluid > .navbar-header .navbar-brand, .container > .navbar-collapse .navbar-brand, .container > .navbar-header .navbar-brand {
    font-size: 26px;
    font-family: 'Nevis Bold';
    color: white;
    text-transform: uppercase;
    font-weight: 700; }

.navbar-brand > img {
  margin-top: -15px;
  width: 53px;
  display: inline; }

.noUi-origin {
  background-color: white; }

.noUi-base {
  background-color: #73D5E5; }

#minutes {
  text-align: center;
  font-size: 25px;
  margin: auto;
  display: inline;
  font-weight: bold;
  color: #73D5E5; }

#input-number {
  text-align: center;
  width: 40px;
  margin: auto;
  display: inline;
  border: none;
  margin-top: 15px;
  padding-right: 0;
  font-weight: bold;
  font-size: 25px;
  color: #73D5E5; }

#account-nav {
  content: "Account"; }

canvas {
  display: none; }

canvas {
  max-width: 600px;
  max-height: 100vh; }

#start-button {
  margin-top: -15%;
  width: 75px;
  height: 75px;
  z-index: 1000; }

@media only screen and (max-width: 992px) {
  .navbar-nav > li > a {
    font-size: 14px; }

  #account-nav {
    content: ""; }

  .navbar-form .form-control {
    font-size: 10px;
    padding: 3px; }

  .navbar-form > a.btn.btn-default {
    font-size: 10px; }

  .navbar-brand {
    font-size: 16px; }

  .navbar-brand > img {
    width: 35px; } }
@media only screen and (max-width: 945px) {
  .container-fluid > .navbar-collapse .navbar-nav > li > a, .container-fluid > .navbar-header .navbar-nav > li > a, .container > .navbar-collapse .navbar-nav > li > a, .container .navbar-nav > li > a {
    font-size: 13px; }
  .container-fluid > .navbar-collapse #account-nav, .container-fluid > .navbar-header #account-nav, .container > .navbar-collapse #account-nav, .container #account-nav {
    content: ""; }
  .container-fluid > .navbar-collapse .navbar-form .form-control, .container-fluid > .navbar-header .navbar-form .form-control, .container > .navbar-collapse .navbar-form .form-control, .container .navbar-form .form-control {
    font-size: 10px;
    padding: 3px; }
  .container-fluid > .navbar-collapse .navbar-form > a.btn.btn-default, .container-fluid > .navbar-header .navbar-form > a.btn.btn-default, .container > .navbar-collapse .navbar-form > a.btn.btn-default, .container .navbar-form > a.btn.btn-default {
    font-size: 10px; }
  .container-fluid > .navbar-collapse .navbar-brand, .container-fluid > .navbar-header .navbar-brand, .container > .navbar-collapse .navbar-brand, .container .navbar-brand {
    font-size: 16px; }
  .container-fluid > .navbar-collapse .navbar-brand > img, .container-fluid > .navbar-header .navbar-brand > img, .container > .navbar-collapse .navbar-brand > img, .container .navbar-brand > img {
    width: 35px; } }
.search-container {
  background-color: #547DA7;
  border-color: white;
  color: white;
  display: block;
  position: fixed;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  top: 0;
  margin-top: 50px;
  right: 0 !important;
  left: 0 !important;
  z-index: 1000; }

@media screen and (max-width: 768px) {
  .search-container {
    padding: 5px; }

  .container-fluid > .navbar-collapse .navbar-nav > li, .container-fluid > .navbar-header .navbar-nav > li, .container > .navbar-collapse .navbar-nav > li, .container > .navbar-header .navbar-nav > li {
    padding-top: 0; }
  .container-fluid > .navbar-collapse .btn, .container-fluid > .navbar-header .btn, .container > .navbar-collapse .btn, .container > .navbar-header .btn {
    width: 100%; }
  .container-fluid > .navbar-collapse .navbar-nav > li:hover, .container-fluid > .navbar-header .navbar-nav > li:hover, .container > .navbar-collapse .navbar-nav > li:hover, .container > .navbar-header .navbar-nav > li:hover {
    background-color: white;
    color: black; }
  .container-fluid > .navbar-collapse .navbar-nav > li > a:hover, .container-fluid > .navbar-header .navbar-nav > li > a:hover, .container > .navbar-collapse .navbar-nav > li > a:hover, .container > .navbar-header .navbar-nav > li > a:hover {
    color: black; }

  #minutes, #input-number {
    font-size: 20px; }

  #capture-preview {
    max-width: 200px;
    max-height: 400px; }

  #startbutton {
    margin-top: -15%;
    width: 50px;
    height: 50px; }

  section.video {
    padding: 0;
    height: 650px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: -1; }

  a.btn {
    font-size: 12px !important; }

  h4 {
    font-size: 11px; }

  img#badgee-coin {
    width: 25px; }

  .container-fluid > .navbar-collapse .btn, .container-fluid > .navbar-header .btn, .container > .navbar-collapse .btn, .container > .navbar-header .btn {
    width: 100% !important; }

  h2 {
    font-size: 18px; }

  span#account-nav {
    content: "Account"; }

  .navbar-header .navbar-brand {
    font-size: 16px; }

  .navbar-form .form-control {
    font-size: 12px;
    padding: 3px;
    width: 100%;
    max-width: 100%; }

  .navbar-nav > li > a {
    font-size: 14px;
    text-align: center; }

  .navbar-form input.form-control {
    font-size: 8px;
    padding: 0;
    margin: 0;
    height: 30px;
    padding-left: 0;
    max-width: 100%;
    width: 100% !important; } }
.addToNewTeamButton, .removeFromNewTeamButton {
  margin: auto;
  text-align: center; }

.removeFromNewTeamButton {
  display: none; }

.addToNewTeamButton {
  display: block; }

.listofTasks {
  margin-right: 10px; }

.card-bottom > .row {
  margin-right: 0 !important;
  padding: 10px;
  margin-left: 0 !important; }

.task-description {
  padding-left: 20px;
  padding-bottom: 20px; }

.map-container {
  display: none; }

.task-show-page-container {
  max-width: 400px;
  margin: auto;
  padding: 0px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  background-color: white;
  padding-bottom: 20px;
  display: inline-block;
  vertical-align: top; }

.index-tasks-container {
  overflow: hidden;
  width: 400px; }

.card-top {
  padding: 10px; }

.card-bottom {
  padding: 25px;
  padding-top: 0px;
  padding-bottom: 10px; }

#creator-name, #created_at, #tagged-member-name-head {
  line-height: 46px; }

a#creator-name, a#tagged-member-name-head {
  display: inline;
  text-decoration: none;
  font-weight: bold; }

.show-page-profile-img {
  display: inline; }

#created_at, #location-name, #task-minutes, #tagged-member-name {
  display: inline;
  text-align: right;
  color: #333;
  font-weight: 500;
  opacity: 0.6;
  text-decoration: none; }

a.map-button span:hover {
  opacity: 1;
  text-decoration: none !important;
  color: black; }

span#location-name:hover, a.map-button:hover, #map-marker:hover, a#tagged-member-name:hover {
  color: black;
  opacity: 1 !important;
  text-decoration: none !important; }

#badgee-coin {
  max-width: 50px;
  padding-right: 10px; }

#map-marker, #clock-icon, #at-icon {
  width: 35px;
  opacity: 0.3;
  display: inline;
  padding: 5px; }

#at-icon {
  width: 30px; }

#task-image, #photo {
  width: 430px;
  max-height: 430px;
  width: 100%;
  margin: auto;
  display: block; }

#photo {
  max-width: 300px;
  margin: auto;
  display: block; }

@media screen and (max-width: 550px) {
  body {
    font-size: 12px; }

  .profile-img {
    width: 35px; }

  #tagged-member-name-head {
    font-size: 14px; }

  .task-show-page-container {
    border: none; } }
.profile-challenges {
  margin: auto;
  vertical-align: top; }

.profile-header {
  width: 100%;
  position: fixed;
  top: 50;
  left: 0;
  right: 0;
  z-index: 1000;
  max-height: 300px;
  display: block;
  margin: auto;
  margin-top: -50px;
  margin-bottom: 100px; }
  .profile-header img {
    max-width: 100px; }

.task-post {
  border-radius: 5px;
  overflow: hidden;
  min-height: 189px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  display: inline-block;
  min-width: 400px;
  margin: 10px;
  max-width: 400px;
  vertical-align: top;
  float: left;
  background-color: white; }

.single-post {
  margin: auto !important;
  float: none !important;
  display: block !important;
  max-width: 400px;
  padding-bottom: 20px; }

.feed-container {
  width: 100%;
  height: 100%;
  display: block;
  margin: auto;
  padding: 30px;
  max-width: 900px; }

.profile-padding {
  padding-top: 100px; }

#username {
  font-weight: bold;
  font-size: 22px; }

#headline {
  line-height: 20px;
  font-weight: 200; }

.profile-total-coins img {
  width: 30px; }
.profile-total-coins span {
  font-size: 14px; }

@media screen and (max-width: 768px) {
  .profile-total-coins {
    float: right; }

  .feed-container {
    padding: 0; }

  .profile-padding {
    padding-top: 40px; }

  .task-post {
    max-width: 400px;
    width: 100%;
    min-width: 200px;
    margin: 4px;
    padding-bottom: 15px; }

  .profile-header {
    top: 30;
    padding: 5px;
    max-height: 60px; }
    .profile-header img {
      max-width: 50px; } }

/*# sourceMappingURL=app.css.map */
