<div ng-controller="UsersController as users">
<nav ng-if="users.currentUser" class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid nav-container">
      <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" ui-sref="createdTasks">
          <img alt="Brand" id="brand-image" src="/images/badgee-logo-headband.png">
          BADGEE
        </a>
      </div>
 
    <!-- Collect the nav links, forms, and other content for toggling -->
       <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
         <ul class="nav navbar-nav">
           <!-- <li><a ui-sref="myTeams">My Teams</a></li> -->
           <li><a ui-sref="createTask">Send a Challenge</a></li>
       
         </ul>
         <form class="navbar-form navbar-left" role="search">
           <div class="form-group">
             <input type="text" class="form-control" placeholder="Search Challenges" ng-model="search">
           </div>
           <a ui-sref="search({ query: search })" class="btn btn-default">Search</a>
         </form>
         <ul class="nav navbar-nav navbar-right">
         <li><a ui-sref="myTasks" id="my-challenges-nav-link">My Challenges</a></li>
           <li><a href="#" ng-hide="users.currentUser">Login</a></li>
           <li ng-show="users.currentUser"class="dropdown">
             <a href="#" class="dropdown-toggle nav__profile-link" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
          
             <div class="image-cropper--nav">
             <img ng-src="{{ users.currentUser.img_url }}" class="img-responsive image-cropper__image" alt=""></div><span id="account-nav"></span>  <span class="caret"></span></a>
             
             <ul class="dropdown-menu">
               
               <li role="separator" class="divider"></li>
               <li><a ui-sref="profile({ user_id: users.currentUser.id }) ">My Profile</a></li>
               <li><a ng-click="users.logout()">Log Out</a></li>
             </ul>
           </li>
         </ul>
       </div><!-- /.navbar-collapse -->
       </div>
</nav>
  </div>