
<div flash-message="10000" ></div> 
<h2 class="taskInvitesHeader">Challenges</h2>
<div ng-controller="UsersController as users">
<ul class="nav nav-pills nav-justified">
  <li ><a ui-sref="myTasks">Received <span class="badge"></span></a></li>
  <li><a ui-sref="createdTasks">Created</a></li>
  <li class="active"><a ui-sref="completedTasks">Completed</a></li>
</ul>
<p></p>
<div ng-if="users.completedTasks.length == 0">
  You have not completed any challenges. <br> Challenge a friend below. <br/>
  <a ui-sref="createTask" class="btn btn-success center">Send a Challenge</a>
</div>
<div ng-if="users.completedTasks.length > 0" ng-repeat="task in users.completedTasks">
  <div class="row">
   <div class="col-xs-4"><img src="{{task._creator.img_url}}" class="img-responsive profile-img" alt=""></div> 
   <div class="col-xs-4">
   <span>{{task.description}}</span><br/>
   <span ng-show="task.location.name">@ {{task.location.name}}</span><br/>

    </div> 
   <div class="col-xs-4"><a class="btn btn-info" ui-sref="showTask({ id: task._id })">VIEW CHALLENGE</a>
   <a class="btn btn-success" ui-sref="showTask({ id: task._id })">YOUR SUBMISSION </a>
   </div>

  <hr>
</div>
</div>