
<div flash-message="10000" ></div> 

<div ng-controller="UsersController as users" class="white-container">
<div class="row">
<div class="col-xs-6">
<h2 class="taskInvitesHeader">My Challenges</h2>

</div>
<div class="col-xs-6">
<h4 class="pull-right badgee-coin-header"><img src="/images/badgee-coin.png" id="badgee-coin"  alt="coin"><span>{{ users.currentUser.total_coins}}</span></h4>
</div>
</div>
<hr>
<ul class="nav nav-pills nav-justified">
  <li ><a ui-sref="myTasks">Received <span class="badge"></span></a></li>
  <li><a ui-sref="createdTasks">Created</a></li>
  <li class="active"><a ui-sref="completedTasks">Completed</a></li>
</ul>
<p></p>
<input type="text" ng-model="query" ng-hide="users.completedTasks.length == 0" class="form-control" placeholder="Search Completed Challenges">
<hr>
<div ng-if="users.completedTasks.length == 0">
  You have not completed any challenges. <br> Challenge a friend below. <br/>
  <p></p>
  <a ui-sref="createTask" class="btn btn-success center">Send a Challenge</a>
</div>
<div ng-if="users.completedTasks.length > 0">
  <div class="row">
   <div class="col-xs-2"></div> 
   <div class="col-xs-3">
     <span>From</span>
   </div> 

   <div class="col-xs-4">
     <span>Challenge</span><br/>
     <span ng-show="task.location.name">@ {{task.location.name}}</span><br/></div>
     <div  class="col-xs-3">
       <span >Status</span>
     </div>
   </div>
<div ng-repeat="task in users.completedTasks | filter: query">
<p>
  
</p>
  <div class="row">
   <div class="col-xs-2"><img src="{{task._creator.img_url}}" class="img-responsive profile-img" alt=""></div> 
    <div class="col-xs-3">
     <span>{{task._creator.name}}</span>
   </div> 
   <div class="col-xs-4">
   <span>{{task.description}}</span><br/>
   <span ng-show="task.location.name">@ {{task.location.name}}</span><br/>

    </div> 
  
   <div class="col-xs-3"><p><a class="btn btn-info" ui-sref="showTask({ id: task._id })">View Challenge</a>

     
   </p>
   <a class="btn btn-success" ui-sref="showResponse({ id: task._id })">Your Submission </a>
   </div>

  <hr>
</div>
  </div>
</div>