<h2 class="taskInvitesHeader">Challenge Invitations</h2>
<div ng-controller="UsersController as users">
<div ng-if="users.pending.length == 0">
  You have no challenges. <br> Challenge to a teammate here. <br/>
  <a ui-sref="myTeams" class="btn btn-success center">Go To Team</a>
</div>
<div ng-if="users.pending.length > 0" ng-repeat="task in users.pending">
  <div class="row">
   <div class="col-xs-4"><img src="{{task._creator.img_url}}" class="img-responsive profile-img" alt=""></div> 
   <div class="col-xs-4">
   <span>{{task.description}}</span><br/>
   <span ng-show="task.location.name">@ {{task.location.name}}</span><br/>

    </div> 
   <div class="col-xs-4"><a class="btn btn-info" ui-sref="showTask({ id: task._id })">Review</a></div>
  </div>
  <hr>
</div>
</div>