
<div ng-controller="UsersController as users" class="profile-container">
  <div class="row white-container profile-header">
    <div class="col-xs-2">
    <div class="image-cropper--profile">
      <img ng-src="{{ users.user.img_url}}" alt="profile"  class="image-cropper__image">
    </div>
    </div>
    <div class="col-xs-5" style="text-align:left;" >
      <a style="line-height:50px;" ui-sref="profile({ user_id: users.user.id })" id="username" >{{ users.user.name}}</a>
      <p id="headline"> {{users.user.headline}}</p>
      <h4 class="profile-total-coins"><img src="/images/badgee-coin.png" id="badgee-coin" style="width:30px;"  alt="coin"><span>{{ users.user.total_coins}}</span></h4>
    </div>
    <div class="col-xs-5">

    </div>
  </div>
  <div class="feed-container profile-padding">
  <div ng-show="users.feed.length == 0">
    {{users.user.name}} has no challenges or responses
  </div>
  <div ng-repeat="task in users.feed" class="task-post" >
        <div class="row ">
         <div class="col-xs-6">
           <a ui-sref="profile({ user_id: users.user.id })" id="creator-name">
           <div class="profile-image-show-page image-cropper--small">
             <img   ng-if="task._creator.id == users.user.id" src="{{task._creator.img_url}}" alt="profile" class="image-cropper__image">
             <img ng-if="task._tagged_member.id == users.user.id" src="{{task._tagged_member.img_url}}" alt="profile" class="image-cropper__image">
             </div>
             <div style="display:inline">
               <span style="display:inline" ng-if="task._creator.id == users.user.id">{{ task._creator.name}}</span>
               <span  style="display:inline"ng-if="task._tagged_member.id == users.user.id">{{ task._tagged_member.name | split:' ':0 }}</span>
             </div>
           </a>
         </div>
         <div class="col-xs-6" style="text-align:right; padding-right:20px;">
           <span  id="created_at" >{{ task.created_at | date: mediumDate }}</span>
         </div>
       </div>
    
       <div class="row" style="padding-top:10px;">
         <img ng-show="task.img_url && task._creator.id == users.user.id" src="{{task.img_url}}" alt="task-image" class="img-responsive" style="min-width:100%;">
         <img ng-if="task.completion.img_url && task._tagged_member.id == users.user.id" src="{{task.completion.img_url}}" alt="task-image" class="img-responsive" style="min-width:100%;">
       </div>
       <p></p>
       <div class="row">

        <div class="col-xs-12 task-description"ng-if="task._creator.id == users.user.id">{{task.description | limitTo: 143}} <a ui-sref="showTask({ id: task._id})">more</a></div>
        <div class="col-xs-12 task-description" ng-if="task._tagged_member.id == users.user.id">{{task.completion.description | limitTo: 143}}<a ui-sref="showTask({ id: task._id})">Learn more</a>
        </div>
      </div>
      <div class="pull-left"><a id="tagged-member-name" ui-sref="profile({ user_id: task._tagged_member.id})">
        <img id="at-icon" src="/images/at-icon.png" alt=""><span> {{ task._tagged_member.name}} </span></a>
      </div>
      <div class="pull-right" ng-show="task.completion.location.name || task.location.name">
        <span id='location-name'> <img src="/images/map-marker.png" id="map-marker" alt="" class="img-responsive">{{ task.location.name}}</span>
      </div>
      <div class="pull-right" ng-show="task.minutes"><img src="/images/clock-icon.png" id="clock-icon" alt="clock" class="img-responsive">
       <span id='task-minutes'>{{ task.minutes}} min</span>
     </div>

   
 </div>

</div>
</div>

