<style>
  body {
    background-color: #73D5E5;

  }
  .content-container {  margin:0;
  }
</style>
<div class="landing-container">
  <h1 class="landing-header text-center"><img class="img-responsive" id="landing-header-image"src="/images/taggy-badger-logo.png" alt=""><span>TAGGY</span></h1>
<div ng-controller="UsersController as users">
<div class="" >
  <form id="signup-form" ng-submit="users.signup()"novalidate="novalidate">
   
    <div class="form-group">
    <div class="form-group" >
      <label for="name" class="control-label">Name:</label >
      <input type="name"
             class="form-control"
             ng-model="users.user.name"
             id="name"
             required="required">
    </div >
      <label for="email" class="control-label">Email</label >
      <input type="email"
             class="form-control"
             ng-model="users.user.email"
             id="email"
             required="required" >
    </div >
    <div class="form-group" >
      <label for="password" class="control-label">Password</label >
      <input type="password"
             class="form-control"
             ng-model="users.user.password"
             id="password"
             required="required"
             ng-minlength="5">
    </div >
    <div class="form-group" >
      <label for="img_url" class="control-label">Image Url:</label >
      <input type="img_url"
             class="form-control"
             ng-model="users.user.img_url"
             id="img_url"
             required="required">
    </div >
   

    <div class="form-group">

      <div class="alert alert-danger text-center" ng-show="has_error">
        <h3>There was a problem registering, please try again later!</h3>
      </div>

      <button id="signup-button" class="btn btn-primary authButton"
              ladda="submitting"
              data-style="expand-right"
              type="submit">
        <span>Sign up</span>
        
      </button>
      <br/>
  
    </div>
    <a ui-sref="login" class="auth-links">Have an Account?  Login Here</a>
  </form >
  </div>

  </div>


  </div>
  <div ng-include="'templates/shared/footer.html'" ></div>
