<div ng-controller="TasksController as tasks">




  <div id="createTaskPage">

    <!-- <form ng-submit="tasks.createTask()" novalidate='novalidate' id="createTaskForm"> -->
      <div ng-hide="tasks.selectUsersPage || showCamera" id="createTaskMainForm">
      <h2>Create Challenge</h2>
      <div class="form-group">
        <label for="challenge">What is your challenge?</label>
        <input type="text" placeholder="Explain the challenge, e.g. Eat the super spicy pizza." ng-model="tasks.task.description" name="description" class="form-control">
      </div>
      <div class="form-group">
        <label for="minutes">What's the time limit?</label>
        <slider></slider>

      </div>
      <div class="form-group">
        <label for="">Where should this challenge happen?</label>
        <input type="text" ng-model="tasks.task.location.name" placeholder="Where is it? e.g. Pizza Union, Shoreditch, London" class="form-control">
      </div>
        <div class="row">
          <div class="col-xs-4">
            <a ng-click="tasks.startCamera()" id="showCameraButton"class="btn btn-info">Take a Photo</a>
          </div>
          <div class="col-xs-4 text-center fadedText">
           OR 
         </div>
         <div class="col-xs-4">
          <section>
            <file-field  ng-model="uploadFile" preview="previewImage" class="btn-info btn center-block" id="uploadFileButton" file>Upload File</file-field>
          </section>
        </div>
      </div>
      <p></p>
      <div class="form-group">
      <a ng-click="tasks.showUsersPage()" class="btn btn-success">Send It to a Friend</a>
      </div>
      </div>


      <section ng-if="showCamera == true">
        <div class="camera">
          <section class="video">
            <button class="btn" id="cancelPhoto" ng-click="tasks.exitCapture()" >X</button>
            <video id="video">Video stream not available.</video>
            <canvas id="canvas"></canvas>
            <a ng-click="tasks.takePicture()" id="start-button" class="btn-info btn"><img id='camera-icon' src="/images/white-camera.png" alt=""></a>
          </section>
          <div class="row cameraOptionButtons">
            <div class="col-xs-6">
              <a id="sendPhoto" class="btn-success btn" value="Upload" ng-click="tasks.upload()">Upload</a>
            </div>
            <div class="col-xs-6">
              <a class='pull-right' id="retakeButton" class="btn-info btn-warning" ng-click="tasks.retakePhoto()">Retake</a>
            </div>
          </div>
        </div>
      </section>
 <div ng-if="tasks.selectUsersPage" class="text-center center">
      <h2>Send It to a Friend</h2>
        <div class="form-group">
        <input type="text" class="form-control" ng-model="query" placeholder="Search Users">
      </div>
    <div  ng-repeat="user in tasks.allUsers | filter: query">
   
      <div class="row">
        <div class="col-xs-4">
         <img ng-src="{{user.img_url}}" alt="user" class="profile-img">
       </div>
       <div class="col-xs-4">
         <span> {{user.name}}</span>
       </div>
       <div class="col-xs-4">
         <a class="btn btn-success addToNewTeam" ng-click="tasks.createTask(user)" >SEND</a>
         <!-- <a class="btn btn-success addToNewTeam" ng-click="tasks.addUser(user, $event)" >SEND</a> -->
         <!-- <a class="btn btn-danger removeFromNewTeam" ng-click="tasks.removeUser(user, $event)" >-</a> -->
       </div>
     </div>
     <hr>
   </div>
   </div>
 <!--   <div class="form-group" ng-show="tasks.formComplete"> -->
    <!-- <button type="submit" class=" btn-success btn">Send</button> -->
  </div>
<!-- </form> -->
</div>
</div>

