<div ng-controller="TasksController as tasks">
<img src="{{tasks.task.img_url}}" alt="">
<div class="row">
  <div class="col-xs-3">Your Challenge:   {{tasks.task.description}}</div>
</div>
<div class="row">
<a href="#" data-toggle="tooltip" title="Hooray!"><div id="map" style="width:200px;height:200px;"></div></a>

</div>
<div class="row">
<div class="col-sm-6">
  <button ng-click="tasks.backToTeam()" class="btn btn-info" style="margin-left:20px">Done</button>
  </div>
  <div class="col-sm-6">
  <a ng-click="tasks.showEditTask()" class="btn btn-info">Edit</a>  
  </div>

</div>

  </div>
  <script>
  $(document).ready(function(){
      $('[data-toggle="tooltip"]').tooltip(); 
  });
  </script>
